# =========================
# Node / NPM / Yarn / PNPM
# =========================
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Build / Production
# =========================
dist/
dist-ssr/
build/
*.local

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local
!.env.example   # incluir ejemplo de variables

# =========================
# Editor / OS files
# =========================
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.bak

# =========================
# Misc / Temporary
# =========================
*.tmp
*.temp
*.cache
*.tsbuildinfo

# =========================
# Vite / React
# =========================
.vite/
*.cache

# ESLint
.eslintcache